<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
</head>

<body>
  <%- include('partials/_header') %>
    <div class="menu">
      <h1>Welcome to the Menu Page</h1>
      <div class="col-md-4 mb-5 item-container">
        <form method="POST" action="/checkout/add-cart">
          <% for(const menu_item of menu_data){ %>
            <article>
              <header>
                <div>
                  <img src="<%= menu_item.image %>" alt="">
                  <span>
                    <%= menu_item.name %>
                  </span>
                </div>
              </header>
              <div>
                <p>
                  <%= menu_item.description %>
                </p>
                <hr />
              </div>
              <footer>
                <span>$<%= menu_item.price %></span>
                <div>
                  <input type="number" value="0" name="<%= menu_item.id %>" id="item-quan-<%=menu_item.id%>}"
                    class="inc" />
                </div>
              </footer>
            </article>
            <% } %>
              <button type="submit">Submit</button>
        </form>
      </div>
    </div>

</body>

</html>
